:root {
    --primary-color: black;
    --secondary-color: white;;
}
body {
    margin: 0;
    padding: 0;
}
.navbarContainer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);

    & a {
        margin: 0 10px;
        text-decoration: none;
        font-size: 18px;
        color: var(--secondary-color);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}